{
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 140,
	"trailingComma": "none",
	"quoteProps": "preserve",
	"plugins": ["@prettier/plugin-php"],
	"overrides": [
		{
			"files": "*.xml",
			"options": {
				"printWidth": 300
			}
		}
	]
}
